.flashSet {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

    border-radius: 0.25rem;
    position     : relative;
}

.data {
    width: 10rem;
}

.actions {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    position      : absolute;
    right         : 0;
    bottom        : 0;
    z-index       : 1000;
}

.mainActions {
    display       : flex;
    flex-direction: column;
}

.actionsMenu {
    position: absolute;
    right: 0;
    left: 5rem;

    min-width: 7rem;

    display: flex;
    flex-direction: column;

    transition: 0.2s ease-in;
}

.menuItem {
    display: flex;
    align-items: center;

    gap: 0.5rem;
}


.favoriteCard:hover {
    color: rgb(236, 206, 72);
}

.favorited {
    color: rgb(236, 206, 72);
}

.deleteCard:hover {
    color     : rgb(206, 41, 41);
    transition: 0.2s ease;
}

.confirmDeleteCard {
    cursor       : pointer;
    padding      : 0.25rem;
    color        : rgb(233, 29, 29);
    border-radius: 0.25rem;
}

.confirmDeleteCard:hover {}
