/* light: {
      name: "light",
      foreground: "#121212",
      background: "#ffffff",
      body: "#F5F5F5"
    },
    dark: {
      name: "dark",
      foreground: "#F5F5F5",
      background: "#1c1c1c",
      body: "#121212"
    }, */

.light {
  background  : #ffffff;
  color       : #121212;
  border-color: #121212
}

.dark {
  background  : #1c1c1c;
  color       : #F5F5F5;
  border-color: #F5F5F5
}

.lightInput,
.darkInput {
  border   : none;
  outline  : none;
  padding  : 0.5rem 0;
  font-size: 1rem;
}

.lightInput:focus,
.darkInput:focus {
  border-bottom: 0.2rem solid orange;
  transition   : 0.2s ease;
}

.lightInput {
  background   : #ffffff;
  color        : #121212;
  border-bottom: 0.2rem solid #121212;
}

.darkInput {
  background   : #1c1c1c;
  color        : #F5F5F5;
  border-bottom: 0.2rem solid #F5F5F5;
}

.lightBoxShadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.darkBoxShadow {}

.lightBorder {
  width        : 100%;
  border-bottom: 0.2rem solid #121212;
}

.darkBorder {
  width: 100%;
  border-bottom: 0.2rem solid #F5F5F5;
}

/* Generic "page title", like for Login or Create set */
.title {
  font-size  : 1.25rem;
  font-weight: bold;

  /* Possibly remove the align-self */
  align-self: flex-start;
}

.alert {
  position       : absolute;
  left           : 39vw;
  top            : 8vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 3rem;
  width          : 20rem;
}

.hoverLight:hover {
  background: rgb(241, 239, 239);
}

.hoverDark:hover {
  background: rgb(39, 38, 38);
}

.deleteCard {
  position: absolute;
  right   : 1rem;
  top     : 1.5rem;
  cursor  : pointer;
}

.deleteCard:hover {
  color     : rgb(206, 41, 41);
  transition: 0.2s ease;
}

.standardIconSize {
  font-size: 2rem;
  cursor: pointer;
}