.viewPage {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}


/* ================ */
/* View Flashset Page Styling */
/* ================ */

.viewContainer {
    grid-row: 1;
    height: 25rem;
    width: 70rem;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* .actionBar {
    display: flex;
    flex-direction: column;

} */


.header {
    display: grid;
    grid-template-columns: 30rem auto;
}


.setInfo {
    height: 25rem;
}

.lightBorder {
    border-right: 0.2rem solid #121212;
}

.darkBorder {
    border-right: 0.2rem solid #F5F5F5;
}

.studySection {
    padding-left: 1rem;
}

.studyOptions {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: auto auto;
}

.studyButton {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
}

.firstCard {
    margin-top: 10rem;
}

.viewFlashCard {
    position: relative;
    width: 70rem;
    right: 1.5rem;
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 2.5rem;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.cardActions {
    /* margin-left: auto; */
    position: absolute;
    right: 7rem;
}

.viewCardContainer {
    display: flex;
    gap: 25rem;
    margin-top: 0.5rem;
}

.viewCardTerm,
.viewCardDefinition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* ================ */
/* Fullscreen Study Styling */
/* ================ */

.studyElements {
    display: flex;
    align-items: center;
    gap: 2rem;
    transform: translate(0, 50%);
}