.actionBar {}

.download {
    display    : flex;
    align-items: center;
}

.cardCount {
    position : absolute;
    font-size: 1.25rem;
    top      : 20rem;
    left     : 0;
}

.viewPage {}


/* TODO: Fix this

- Grid display?

*/
.viewContainer {
    position     : absolute;
    height       : 15rem;
    width        : 70rem;
    left         : 20rem;
    top          : 7.5rem;
    padding      : 1.25rem;
    border-radius: 0.75rem;
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);
}

.header {
    display: grid;
    grid-template-columns: 30rem auto;
}


.setInfo {
}

.lightBorder {
    border-right: 0.2rem solid #121212;
}

.darkBorder {
    border-right: 0.2rem solid #F5F5F5;
}

.studySection {
    padding-left: 1rem;
}

.studyOptions {
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: auto auto;
}

.studyButton {
    font-size: 1.25rem;
}


.backButton {
    display    : flex;
    align-items: center;
    position   : absolute;
    top        : 0;
}

.back:active {
    border-radius: 50%;
    background: green;
}

.firstCard {
    margin-top: 10rem;
}

.viewFlashCard {
    position     : relative;
    width        : 70rem;
    right        : 1.5rem;
    padding      : 1.25rem;
    border-radius: 0.75rem;
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);

    margin-bottom: 2.5rem;
}

.viewCardContainer {
    display   : flex;
    gap       : 25rem;
    margin-top: 0.5rem;
}

.viewCardTerm,
.viewCardDefinition {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    flex-wrap     : wrap;
    flex-grow     : 1;
}