.loginContainer {
    position: absolute;
    width: 22rem;
    /* width   : 20vw; */
    left    : 45rem;
    top     : 10rem;

    display       : flex;
    flex-direction: column;
    gap           : 1.25rem;

    border-radius: 0.75rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* LIGHT MODE : gray box shadow to give a "card" effect */
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);
    padding      : 1.25rem;

    text-align: center;
}

.title {
    font-size  : 1.25rem;
    font-weight: bold;
    align-self : flex-start;
}

.input {
    background: #ffffff;
    color: #121212;
    border-radius: 0.5rem;
    border: 0.1rem solid #121212;
    outline      : none;
    font-size    : 1rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.input.dark {
    background: #1c1c1c;
    border: 0.1rem solid #F5F5F5;
    color: #F5F5F5;
}

.input:focus {
    border: 0.15rem solid orange;
    transition   : 0.2s ease;
}

.error {
    border: 0.15rem solid red;
}

.passToggle {
    position: absolute;
    top     : 48%;
    right   : 6%;
    cursor  : pointer;
    color: #121212
}

.passToggle.dark {
    color: #F5F5F5;
}

.login {
    background-color: orange;
    border-radius: 0.75rem;
    transition      : 0.2s ease;
    cursor          : pointer;
}

.login:active {
    background-color: rgb(206, 143, 27);
}

.login.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.signupLink,
.forgot {
    text-decoration: none;
    color          : orange;
}

.forgot {
    position: absolute;
    top     : 58%;
    right   : 5%;
}

.emailError,
.passwordError {
    color   : red;
    position: absolute;
    font-size: 0.8rem;
}

.emailError {
    top: 36%;
}

.passwordError {
    top: 58%;
}


.alert {
    position: absolute;
    left: 39vw;
    top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 20rem;
}