.navbar {
    display    : flex;
    align-items: center;
    transition: 0.2s ease;
}

.logo {
    position  : absolute;
    height    : 13rem;
    width     : 13rem;
    left      : -1rem;
    margin-top: 1.25rem;
}

.menu {
    display    : flex;
    gap        : 2rem;
    height     : 5vh;
    list-style : none;
    /* top right bottom left */
    margin-top : 1.5rem;
    margin-left: 20rem;
    padding    : 0;
}

/* Nav-Bar Link */
.link {
    border-radius  : 0.15rem;
    font-size      : 1.25rem;
    text-decoration: none;
    cursor         : pointer;
}

.logout:hover,
.link:hover {
    opacity   : 0.6;
    transition: 0.1s ease;
}

.rightActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    position: absolute;
    right   : 4rem;
}

.logout {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
}

.darkModeToggle {
    cursor  : pointer;
}

.accountCircle {
    display: flex;
    cursor: pointer;
}