.navbar {
    display    : flex;
    align-items: center;
    transition : 0.2s ease;
    user-select: none;
}

.logo {
    position  : absolute;
    height    : 13rem;
    width     : 13rem;
    left      : -1rem;
    margin-top: 1.25rem;
}

.menu {
    display    : flex;
    align-items: center;
    gap        : 2rem;
    height     : 5vh;

    /* top right bottom left */
    margin-left: 20rem;
    padding    : 0.5rem 0;
}

.rightActions {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 0.5rem;
    position: absolute;
    right   : 4rem;
}

/* .logout {
    display    : flex;
    align-items: center;
    font-size  : 1.25rem;
    cursor     : pointer;
} */

.accountCircle {
    display: flex;
    cursor : pointer;
}