.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -70%);
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* LIGHT MODE : gray box shadow to give a "card" effect */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1.25rem;
}