.createPage {
    display       : flex;
    flex-direction: column;
    gap           : 2rem;
}

.createContainer {
    position     : absolute;
    height       : 20rem;
    width        : 70rem;
    left         : 20rem;
    top          : 7.5rem;
    padding      : 1.25rem;
    border-radius: 0.75rem;
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);
}

.title {
    font-size  : 1.25rem;
    font-weight: bold;
    align-self : flex-start;
}

.inputLabel {
    font-size    : 0.75rem;
    margin-bottom: 0.25rem;
    color        : orange;
}

.titleInput,
.descInput,
.labelInput {
    margin-bottom: 1rem;
}


.titleInput {
    width: 40rem;
}

.descInput {
    resize       : none;
    border       : 0.2rem solid #121212;
    border-radius: 0.25rem;
    padding      : 0.5rem;
    height       : 5rem;
    width        : 30rem;
    font-family  : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descInput.dark {
    border: 0.2rem solid #F5F5F5;
}


.descInput:focus {
    border    : 0.2rem solid orange;
    transition: 0.2s ease;
}

.labelInput {
    width: 17rem;
}

.labelInputContainer {}


.labelDropdown {
    margin-left: 0.5rem;
    width      : 5rem;
    outline    : none;
}

.inputContainer {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    margin-top    : 1.25rem;
}

.createSet {
    position  : absolute;
    right     : 2rem;
    top       : 2rem;
    height    : 2.5rem;
    /* width     : 6rem; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    font-size    : 1rem;
    font-weight  : bold;
    border-radius: 0.75rem;
    border       : none;
    outline      : none;

    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;

    background: orange;
}

.createSet:hover {
    background: rgb(253, 187, 63);
    transition: 0.2s ease
}

.createSet.disabled {
    opacity       : 0.5;
    pointer-events: none;
}

.uploadImage {
    position: absolute;
    right   : 1rem;
    top     : 4.5rem;
    cursor  : pointer;
}

.newCard {
    position     : relative;
    width        : 70rem;
    left         : 20rem;
    padding      : 1.25rem;
    border-radius: 0.75rem;
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);
}

.firstCard {
    margin-top: 28.5rem;
}

.newCardInputs {
    display          : flex;
    /* flex-direction: row; */
    gap              : 8rem;
    margin-top       : 0.5rem;
}

.newCardTerm,
.newCardDefinition {
    display       : flex;
    flex-direction: column;
}

.newCardInput {
    margin-bottom: 1rem;
    width        : 27.5rem;
}

.addCard {
    /* margin-top: 2rem; */
    position     : relative;
    width        : 73rem;
    left         : 20rem;
    padding      : 1.25rem;
    background   : orange;
    box-shadow   : 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;

    border-radius: 0.75rem;
    border       : none;
    outline      : none;

    font-weight   : bold;
    text-transform: uppercase;
    transition    : 0.2s ease;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : 0.5rem;

    text-align: center;
    cursor    : pointer;
}

.addCard.noInputs {
    margin-top: 28.5rem;
}

.addCard:hover {
    background: rgb(253, 187, 63);
}

/* TODO:  */
.addCard:focus {
    /* border: 0.2rem solid #f72500; */
}

.addIcon {
    font-size: 3rem;
    color    : #121212;
}

.cardActions {
    position: relative;
    display: flex;
    align-items: center;
}

.colorPickerIcon {
    position: absolute;
    cursor: pointer;
}

.colorPicker {
    position: absolute;
    bottom: 2.5rem;
}