.navbar {
    display        : flex;
    align-items    : center;
}

.logo {
    position  : fixed;
    height    : 13rem;
    width     : 13rem;
    left      : -1rem;
    margin-top: 1.25rem;
}

.menu {
    display: flex;
    gap: 2rem;
    height: 5vh;
    list-style: none;
    /* top right bottom left */
    margin-top: 1.5rem;
    margin-left: 20rem;
    padding   : 0;
}

/* Nav-Bar Link */
.link {
    border-radius   : 0.25rem;
    font-size      : 1.25rem;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    border-bottom: 0.3rem solid #61B874;
    transition      : 0.1s ease;
}

.darkModeToggle {
    font-size: 2.5rem;
    position: absolute;
    right: 1vw;
    top: 2.5vh;
    cursor: pointer;
}