.emailError, .nameError, .passwordError {
    color   : red;
    position: absolute;
    font-size: 0.8rem;
}

.emailError {
    top: 30%;
}

.nameError {
    top: 46%;
}

.passwordError {
    top: 64%;
}

.passToggle {
    position: absolute;
    top     : 55%;
    right   : 5%;
    cursor  : pointer;
}