.emailError, .nameError, .passwordError {
    color   : red;
    position: absolute;
    font-size: 0.8rem;
}

.emailError {
    top: 30%;
}

.nameError {
    top: 48%;
}

.passwordError {
    top: 66%;
}

.passToggle {
    position: absolute;
    top     : 57.5%;
    right   : 6%;
    cursor  : pointer;
    color: #121212;
}

.passToggle.dark {
    color: #f5f5f5;
}